# MassSentimentGatherer
numpy==1.19.4
tensorflow==2.5.0
keras==2.4.3
lithops
matplotlib
pandas
git+https://github.com/twintproject/twint.git#egg=twint

# Setup modules
gevent
flask

# Lithops
cloudpickle
ps-mem
tblib

# default available packages for python3
beautifulsoup4
httplib2
#kafka_python
lxml
python-dateutil
requests
scrapy
simplejson
#virtualenv
Twisted
PyJWT

# packages for numerics
scikit-learn
scipy

# packages for image processing
Pillow

# IBM specific python modules
#ibm_db
#cloudant
#watson-developer-cloud
ibm-cos-sdk
#ibmcloudsql
ibm-vpc

# Compose Libs
psycopg2-binary
#pymongo
redis
pika
#elasticsearch
etcd3
